<app-generic-view title="Diagnose">
  <div class="header-sub-menu" header>
    <select name="language">
      <option *ngFor="let language of languages">{{ language.name }}</option>
    </select>
    <select name="chat">
      <option selected>Chat</option>
    </select>
    <select name="client">
      <option selected>Community Sift</option>
    </select>
  </div>

  <div content class="page-layout">
    <section class="main-layout">
      <section class="tag-line" *ngIf="text">
        <div *ngFor="let word of textExtended">
          <div class="tag">
            <p>{{ word.original }}</p>
          </div>
          <div class="tag selected allow">
            <p>{{ word.classified }}</p>
          </div>
        </div>
      </section>
      <p class="message" *ngIf="!text">
        Please input the phrase in search input and press Enter
      </p>
    </section>

    <section class="main-layout side-bar" *ngIf="text">
      <h2>{{ text }}</h2>
      <hr />
      <div class="flex-row">
        <div>
          <h4>Topics</h4>
          <ng-container *ngFor="let topic of topics">
            <div class="mark-box">
              <!-- <i class="material-icons">
                {{ topic.icon }}
              </i> -->
              <p class="mark-box-name">{{ topic.name }}</p>
              <div class="mark-box-value">{{ topic.value }}</div>
            </div>
          </ng-container>
        </div>
        <div>
          <h4>Policy Guides</h4>
          <div class="mark-box not-okay">
            <i class="material-icons">
              thumb_up
            </i>
            <p class="mark-box-name">Global chat</p>
          </div>
          <div class="mark-box okay">
            <i class="material-icons">
              thumb_down
            </i>
            <p class="mark-box-name">Private chat</p>
          </div>
        </div>
      </div>
      <hr />
      <h4>All prediction</h4>
      <p *ngIf="!predictions || !predictions.length">No predictions found</p>
      <div class="prediction-layout" *ngFor="let prediction of predictions">
        <p class="language">{{ prediction.language }}</p>
        <div class="line-wrapper">
          <div class="line" [ngStyle]="{ width: prediction.value + '%' }"></div>
        </div>
        <p class="percent">{{ prediction.value }}%</p>
      </div>
      <hr />
      <section class="controls">
        <button (click)="toggleOverlayView()">Escalate</button>
        <button class="secondary">Gerkin Test</button>
        <button class="third">Create Rule</button>
      </section>
    </section>
  </div>
</app-generic-view>

<section class="overlay" *ngIf="isOverlayOpened">
  <div class="content">
    <div class="overlay-header">
      <h4>Add it to the regression tests</h4>
      <div class="overlay-close" (click)="toggleOverlayView()">
        <i class="material-icons">
          clear
        </i>
        <p>CLOSE</p>
      </div>
    </div>
    <hr />
    <p class="labels-header">How should it be labelled</p>
    <section>
      <div class="flex-row labels-row" *ngFor="let topic of topics">
        <p>{{ topic.name }}</p>
        <div class="labels">
          <p class="label">0</p>
          <p class="label">1</p>
          <p class="label">2</p>
          <p class="label">3</p>
          <p class="label">4</p>
          <p class="label">5</p>
          <p class="label">6</p>
          <p class="label">7</p>
        </div>
      </div>
    </section>
    <div class="flex-row">
      <div>
        <p>
          Add Topics
        </p>
        <select name="language">
          <option selected>Community Sift</option>
        </select>
      </div>
      <div>
        <p>
          Wrong Language?
        </p>
        <select name="language">
          <option selected>Community Sift</option>
        </select>
      </div>
    </div>
    <p>Leave a comment</p>
    <textarea
      class="comment"
      placeholder="Type your comment (Optional)"
    ></textarea>
    <div class="flex-row controls">
      <button class="third">Apply</button>
      <button>Cancel</button>
    </div>
  </div>
</section>
