:host {
  flex: 1;
}

h2 {
  font-family: 'Montserrat';
  font-size: 20px;
  color: #f4f4f4;
}

p,
select {
  font-family: 'Open Sans';
}

h3,
h4 {
  font-family: 'Open Sans';
}

select {
  background-color: #111312;
  border: none;
  height: 38px;
  color: #8ea2ab;
}

.header-sub-menu {
  & > * {
    margin-left: 14px;
  }
}

.page-layout {
  display: flex;
  align-items: flex-start;
}

.main-layout {
  flex: 1;
  padding: 20px;
  margin-top: 20px;
  background-color: #111212;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.side-bar {
  max-width: 400px;

  h2 {
    margin-top: 0;
  }

  h4 {
    opacity: 0.6;
    margin-bottom: 10px;
  }

  .mark-box {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    padding: 0 10px;
    height: 38px;
    border-radius: 3px;
    border-left: 3px solid #b0b7a1;
    margin-bottom: 12px;

    &.medium {
      border-color: #f17105;
    }

    &.okay {
      border-color: #7ed321;
    }

    &.not-okay {
      border-color: #ed0423;
    }

    .mark-box-name {
      flex: 1;
      font-size: 14px;
    }

    .mark-box-value {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      border-radius: 25px;
      width: 30px;
      height: 30px;

      p {
        text-align: center;
        margin: 0;
      }
    }

    i {
      font-size: 14px;
      margin-right: 10px;
    }

    p {
      margin: 0;
    }
  }

  .prediction-layout {
    display: flex;
    align-items: center;
    margin: 20px 0;

    p {
      margin: 0;
    }

    .language {
      width: 72px;
    }

    .percent {
      width: 40px;
      text-align: right;
    }

    .line-wrapper {
      background-color: rgba(255, 255, 255, 0.1);
      height: 5px;
      flex: 1;
      border-radius: 5px;
      overflow: hidden;

      .line {
        background-color: #58c1b8;
        height: 100%;
      }
    }
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  button {
    flex: 1;
    margin-right: 15px;
    color: white;
    &:last-child {
      margin-right: 0;
    }

    &.secondary,
    &.third {
      color: black;
    }

    &.secondary {
      background-color: #58c1b8;
    }

    &.third {
      background-color: #04e762;
    }
  }
}

button {
  &.secondary,
  &.third {
    color: black;
  }

  &.secondary {
    background-color: #58c1b8;
  }

  &.third {
    background-color: #04e762;
  }
}

.flex-row {
  display: flex;

  & > div {
    flex: 1;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.message {
  opacity: 0.4;
}

.tag-line {
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  .tag {
    margin-bottom: 18px;
    padding: 10px 20px;
    background-color: #292e2f;
    margin-right: 15px;

    &.selected {
      border-radius: 5px;
      color: black;
    }

    &.allow {
      background-color: #7ed321;
    }

    p {
      margin: 0;
      padding: 0;
      font-family: 'Montserrat';
      font-size: 20px;
      font-weight: bold;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  justify-content: flex-end;

  h4 {
    font-size: 16px;
    font-family: 'Montserrat';
  }

  .content {
    height: 100%;
    width: 600px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #1b1f20;
  }

  select {
    width: 100%;
    margin-bottom: 15px;
  }

  .comment {
    background-color: #292e2f;
    width: 100%;
    min-height: 120px;
    border: none;
    box-sizing: border-box;
    padding: 5px;
    font-family: 'Open Sans';
  }

  .labels-header {
    margin-top: 30px;
  }

  .labels-row {
    box-sizing: border-box;
    padding: 13px;
    background-color: #111212;
    margin-bottom: 16px;
    align-items: center;

    p {
      flex: 1;
      margin: 0;
    }

    .labels {
      display: flex;
    }
  }

  .label {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292e2e;
    margin: 0 5px;
  }

  .overlay-header {
    display: flex;
    align-items: center;
    width: 100%;
    h4 {
      flex: 1;
      margin: 0;
    }

    .overlay-close {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
}
