<section id="generic-view">
  <header>
    <div class="main-content">
      <h1>{{ title }}</h1>

      <nav class="breadcrumb">
        <xng-breadcrumb></xng-breadcrumb>
      </nav>
    </div>
    <ng-content select="[header]"></ng-content>
  </header>

  <ng-content select="[content]"></ng-content>
</section>
